* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
html,
body,
div,
span,
fieldset,
form {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    background: url(../img/Get-bg.jpg) no-repeat 50% 50% fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.site-logo {
    padding: 30px 0px 0px 0px;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    transition: all 0.3s;
}
.site-logo h1 {
    margin: 0px;
}
.site-logo h1 a {
    font-size: 49px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: rgb(3, 3, 3) 0px 2px 5px;
    transition: all 0.7s ease;
}
.login_container {}
.login_container .center {
    padding: 100px 0px 0px 0px;
    max-width: 1100px;
    margin: auto;
    text-align: center;
}
.login_container h2 {
    font-size: 36px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 0px;
    text-transform: uppercase;
    line-height: 60px;
}
.login_container h3 {
    font-size: 24px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 0px;
    line-height: 60px;
}
.login_container .success {
    font-size: 20px;
    color: #00ff00;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 0px;
    line-height: 60px;
    text-align: center;
}
.login_container .error {
    font-size: 20px;
    color: #ff4d4d;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 0px;
    line-height: 30px;
    text-align: center;
}
.login_container p {
    padding: 24px 0px 35px 0px;
    font-size: 14px;
    color: #ebebeb;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    font-weight: 400;
}
.login_container .line {
    border: solid 1px #ff9408;
    height: 2px;
    width: 252px;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 18px;
}
.login_section {
    width: 100%;
    height: 100%;
}
.login_section .mid {
    padding: 0px 0px 95px 0px;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}
.login_section fieldset {
    padding: 0px;
    margin: 0px;
}
.login_section p {
    padding: 0px;
    margin: 0px 0px 25px 0px;
}
.login_section input.field {
    padding: 15px 20px 14px 20px;
    font-size: 14px;
    color: #979797;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border: 0px;
    width: 100%;
    box-shadow: 0px 2px 6px 0px #242424;
    -webkit-box-shadow: 0px 2px 6px 0px #242424;
    -moz-box-shadow: 0px 2px 6px 0px #242424;
    -o-box-shadow: 0px 2px 6px 0px #242424;
    border-radius: 8px;
}
.login_section input.number {
    padding: 15px 20px 14px 20px;
    font-size: 14px;
    color: #979797;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border: 0px;
    width: 30%;
    box-shadow: 0px 2px 6px 0px #242424;
    -webkit-box-shadow: 0px 2px 6px 0px #242424;
    -moz-box-shadow: 0px 2px 6px 0px #242424;
    -o-box-shadow: 0px 2px 6px 0px #242424;
    border-radius: 8px;
}
.login_section input.cvv {
    padding: 15px 20px 14px 20px;
    font-size: 14px;
    color: #979797;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border: 0px;
    width: 38%;
    box-shadow: 0px 2px 6px 0px #242424;
    -webkit-box-shadow: 0px 2px 6px 0px #242424;
    -moz-box-shadow: 0px 2px 6px 0px #242424;
    -o-box-shadow: 0px 2px 6px 0px #242424;
    border-radius: 8px;
}
.login_section input:focus {
    outline: none;
}
.login_section select {
    height: 48px;
    font-size: 14px;
    color: #979797;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border: 0px;
    width: 100%;
    box-shadow: 0px 2px 6px 0px #242424;
    -webkit-box-shadow: 0px 2px 6px 0px #242424;
    -moz-box-shadow: 0px 2px 6px 0px #242424;
    -o-box-shadow: 0px 2px 6px 0px #242424;
    border-radius: 8px;
}
.login_section select:focus {
    outline: none;
}
.login_section .button {
    padding: 16px 0px 17px 0px;
    margin-top: -3px;
    font-size: 14px;
    color: #e9ecee;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    background: #e2850a;
    border: 0px;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    box-shadow: 0px 2px 6px 0px #242424;
    -webkit-box-shadow: 0px 2px 6px 0px #242424;
    -moz-box-shadow: 0px 2px 6px 0px #242424;
    -o-box-shadow: 0px 2px 6px 0px #242424;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.login_section .button:hover {
    background: #2d2d2d;
    color: #fff;
}
.login_section ul {
    list-style: none;
    margin: 0px;
    padding: 27px 0px 0px 0px;
}
.login_section li {
    padding: 0px;
    text-align: center;
}
.login_section li a {
    text-decoration: none;
    color: #f88e04;
}